.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: max-content;
  box-shadow: 0 0 20px #0005;
  padding: 20px;
  border-radius: 10px;
}
.login__test {
  width: 100%;
  padding: 12px 8px;
  background-color:#4aaee8;
  color:#ffffff;
  border-radius: 5px;
  margin-bottom: 5px;
}
.flex-login{
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.login__title{
  margin-top: 10px;

  font-size: 30px;
  font-family: 'Pacifico', cursive;
  color: #2488c1;
  text-align: center;
}

.login_instructions{
  margin: 10px 0;
  color: rgb(165, 165, 165);
  font-size: 18px;
}

.login__label{
  color: #2488c1;
  font-weight: 600;
  margin-bottom: 3px;
}

.login__input{
  border: 1px solid rgb(190, 189, 189);
  border-radius: 3px;
  padding: 8px;
  width: 250px
}

.login__item{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.user-logged__icon{
 font-size: 70px;
 color:rgb(226, 180, 28);
}

.user-logged__message{
  color: #2488c1;
  font-size: 30px;
}

.user-logged__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login__button{
  margin: 10px 0;

  cursor: pointer;
  
  background-color: #ebebeb;
  color: #2488c1;
  font-weight: 700;
  font-size: 15px;

  border: none;
  border-radius: 10px;
  align-self: center;
}

.login__button:hover{
  background-color: #fff5a0;
  transition: 0.2s ease;
}

.login__button:active{
  background-color: #f4e87e;
  transform: translateY(2px);
  transition: 0.2s ease;
}