.header {
  padding: var(--padding-mobile);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  background-image: url('../../../assets/img/svg/header_bg.svg');
}
.header__title {
  color: var(--secondary-color);
  font-family: 'Pacifico', cursive;
  text-shadow: 3px 3px 2px rgb(230, 215, 116);
}

.header__title:hover{
  transform:scale(0.98);
  transition: transform 0.2s ease;
  color: #2488c1;
  text-shadow: 3px 3px 2px rgb(228, 219, 163);
}

.header__title:active{
  transform: scale(0.95);
}

.header__menuham{
  font-size: 1.4rem;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}

.navbar{
  width: min(100%, 300px);
  position: fixed;
  background-color: var(--primary-color);
  height: 100vh;
  right: 0;
  top: 0;
  padding-top: 80px;
  box-shadow: 0 0 20px 0 #0009;
  transition: transform 600ms ease;
  transform: translateX(105%);
}
.navbar-open {
  transition: transform 600ms ease;
  transform: translateX(0);
}
.navbar__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.navbar__links {
  display: flex;
  flex-direction: column;
  height: 55px;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar__link-active {
  color: var(--secondary-color);
}
.navbar__links i {
  margin-bottom: 5px;
  font-size: 1.2rem;
}
@media screen and (min-width: 720px) {
  .header {
    padding: 0 0 0 var(--padding-tablet);
    /* border-bottom: 1px solid var(--border-color); */
    height: 100px;
    box-shadow: 1px 2px 2px rgb(209, 209, 209);
  }
  .header__menuham {
    display: none;
  }
  .navbar-open {
    transform: translateX(0);
    transition-duration: 0ms;
  }
  .navbar {
    transform: translateX(0);
    transition-duration: 0ms;
    position: static;
    width: auto;
    height: auto;
    padding: initial;
    box-shadow: none;
    width: min(50%, 800px);
    background-color: transparent;
    background-image: url('../../../assets/img/svg/header_bg.svg');
  }
  .navbar__list {
    flex-direction: initial;
    justify-content: space-evenly;
    gap: 0;
  }
  .navbar__items {
    padding: 0;
    height: 90px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: #ffe95a;
    box-shadow: 2px 1px 1px rgb(172, 194, 240);
  }

  .navbar__items:hover{
    transform:scale(0.98);
    box-shadow: rgb(241, 241, 241);
    color: #2488c1;
    transition: 0.2s ease;
  }

  .navbar__items:active{
    transform:scale(0.95);
    transition: 0.2s ease;
  }

  .navbar__links{
    padding: 0 30px;
  }
}